{% extends 'base.html' %}
{% block title %} {{pet.name}} {% endblock %}
{% block content %}

<h1>{{pet.name}}</h1>

<img src="{{pet.photo_url}}">


<p>My name is {{pet.name}}</p>
<p>I am a {{pet.species}}</p>
{% if pet.age %}
<p>I am {{pet.age}} years old</p>
{% endif %}
<h2>More about {{pet.name}}:</h2>
<p>{{pet.notes}}</p>

<a href="/" class="btn btn-primary">Return Home</a>


<h3>Edit Information</h3>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    {{ field.label }}
    {{ field (class_="form-control") }}

    {% endfor %}
    <div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>

{% endblock %}